.app-background {
    background-color: #ffffff;
}

p,
.ui.bulleted.list {
    font-size: 1.33em;
    line-height: 1.6em;
    padding-bottom: 1em;
}

h3.ui.header {
    font-size: 2em;
}

h4.ui.header {
    font-size: 1.5em;
}

h5.ui.header {
    font-size: 1.2em;
}

/* Mobile drop-down mwnu */
.ui.dropdown {
    font-size: 1.3rem;
}

.ui.dropdown .menu>.item {
    font-size: 1.3rem;
}

html,
body {
    height: 100%;
    margin: 0;
}

.page-container {
    /* full viewport height */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Main content takes available space */
.content {
    flex: 1;
}

/* Footer stays at bottom if content is short */
.footer {
    background: #1b1c1d;
    padding: 1rem;
}